<%= form_with(model: [@movie, @comment], local: true, class: 'ui form') do |f| %>
  <div class='field'>
  <%= f.label :text %>
  <%= f.text_field :text, required: true, placeholder: "Write a Comment" %>
  </div>

  <%= f.submit nil, class: 'ui blue button inverted' %>
<% end %>
