<h1>Movies List</h1>

<table class="ui celled table">
  <thead>
    <tr class='center aligned'><th>Title</th>
      <th>Genre</th>
      <th>Movie Length</th>
    </tr></thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr class='center aligned'>
      <td><%= link_to movie.title, movie %></td>
      <td><%= movie.genre %></td>
      <td><%= movie.duration %></td>
    </tr>
  <% end %>
  </tbody>
</table>
